<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title %></title>
  </head>
  <body>
    <form method="POST" action="/new">
      <h1>New Submission</h1>
      <label for="authorName">Author's Name</label>
      <input type="text" name="authorName" />
      <label for="messageText">Message text</label>
      <input type="text" name="messageText" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
